body {
    background-image: url(https://beautifulphotos.thms.uk/my-img/100_0085.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    color: #2b31e2;
}

h1 {
    text-align: center;
}
.testgame{
    background-color: #ffffff;
    width: 1000px;
    height: 500px;
    position: relative;
}
#start {
    background-color: rgb(0, 255, 0);
    position: absolute;
    bottom: 0px;
}
#stop{
    background-color: rgb(225,0, 0);
    position: absolute;
    bottom: 0px;
}
.gameimages {
    width: 150px;
    height: 150px;
}
.timeIsUp{
    background-color: #ffffff;
    position: relative;
    font-size: 50px;
}
#resetGame{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
#cop {
    position: absolute;
    top: 15px;
    left: 0px;
}
#robber {
    position: absolute;
    right: 50px;
    top: 0px;
}
.white{
    background-color: #ffffff;
}
#a{
    background-color: #ffffff;
}